body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  cursor: context-menu;
  user-select : text;
}
html,body,h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif;
}
#gauche {
  float: left;
  width: 100%;
  height: auto;
  color: #272822;
  cursor: context-menu;
  margin-bottom: 15px;
}
#droite {
  height: 56.2vw;
  color: #777;
  padding: 0.8vw;
  text-align: center;
  margin-bottom: 15px;
}
#droite button{
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 0.55vw;
  background-color: #009688;
}
w3-container{
  height: 30vw;
}

span {
  font-weight: bold;
  color: #8E3557;
}
#code-form{
  margin-bottom: 15px;
}
span, button, input {
  margin: 15px;
}
@media (min-width: 992px){
  .col-md-10 {
    width: 41.65555555% !important;
  }
}

.panel-default {
  border-color: #ddd;
  cursor: context-menu !important;
}
#container{
  display: none;
}
#verticalBullets{
  text-align: left;
  display: inline-block;
}
